<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="insertar.css">
    <title>Formulario</title>
</head>
<body>
    <div class="Contenedor">
    <h1>FORMULARIO</h1>
    <label for="Codigo">Codigo:</label>
    <input class="labels" type="text" id="Codigo" name="Codigo" required>
    <label for="Descripcion">Descripcion:</label>
    <input class="labels" type="text" id="Descripcion" name="Descripcion" required>
    <label for="Presentacion">Presentacion:</label>
    <input class="labels" type="text" id="Presentacion" name="Presentacion" required>
    <label for="Valor Unitario">Valor Unitario:</label>
    <input class="labels" type="number" id="Valor Unitario" name="Valor Unitario" required>
    <label for="Stock">Stock:</label>
    <input class="labels" type="number" id="Stock" name="Stock">
    <label for="Activo">Activo:</label>
    <input class="labels" type="number" id="Activo" name="Activo">
    <input class="labels" type="submit" name="Enviar" value="Enviar">
</div>
</body>
</html>