/* div p{
    color: blue;
} */

/* 
-Aplica el estilo a todos los elementos
p, a, span{ 
    text-decoration: underline;
    color:greenyellow ;
} */

/* 
-Aplica el estilo a los elementos span que se encuentran dentro de "p a"
p a span{
    text-decoration: underline;
    color:greenyellow ;
} */

