{% extends 'base.html' %}

{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}

    <h2>Mi APP - Bienvenido</h2>
    <p>Contenido de la pagina Home</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus autem magnam a, tempora illo consequuntur quaerat aperiam perspiciatis nisi distinctio ipsa at sunt maxime, ducimus soluta iure? Molestias, quibusdam minima?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus veritatis dolorum reprehenderit, perferendis esse error pariatur cum fugit libero corrupti, voluptas suscipit enim impedit inventore quibusdam praesentium recusandae temporibus.</p>
{% endblock %}