{% extends 'base.html' %}

{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}

    <form action="" method="post" >
        {% csrf_token %}
        <div class="contenedor">
        <h1 class="Titulo">FORMULARIO</h1>
        <label class="labels" for="codigo">Codigo:</label>
        <input class="inputs" type="text" id="codigo" name="codigo" required>

        <label class="labels" for="descripcion">Descripcion:</label>
        <input class="inputs" type="text" id="descripcion" name="descripcion" required>

        <label class="labels" for="presentacion">Presentacion:</label>
        <input class="inputs" type="text" id="presentacion" name="presentacion" required>

        <label class="labels" for="valor_unitario">Valor Unitario:</label>
        <input class="inputs" type="number" id="valor_unitario" name="valor_unitario" required>

        <label class="labels" for="stock">Stock:</label>
        <input class="inputs" type="number" id="stock" name="stock" required>

        <label class="labels" for="activo">Activo:</label>
        <input class="inputs" type="number" id="activo" name="activo" required>

        <input class="boton" type="submit" name="Enviar" value="Enviar">
{% endblock %}