{% extends 'base.html' %}

{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <section class="seccion">
        <h1 class="titulos">Misión</h1>
        <p class="parrafos">"En HamProyecto, nuestra misión es liderar la transformación digital mediante el desarrollo de soluciones de software innovadoras que resuelvan los desafíos del mundo actual. Nos esforzamos por crear herramientas que no solo optimicen procesos empresariales, sino que también enriquezcan la experiencia del usuario, fomentando un entorno más eficiente y conectado.

            Nos comprometemos a:
            
            Innovación Continua: Mantenernos a la vanguardia de la tecnología, adoptando las últimas tendencias y mejores prácticas para ofrecer productos que superen las expectativas de nuestros clientes.
            
            Colaboración Transparente: Construir relaciones sólidas con nuestros clientes, escuchando sus necesidades y trabajando juntos para alcanzar sus objetivos.
            
            Calidad y Sostenibilidad: Proporcionar soluciones de alta calidad que sean escalables y sostenibles, contribuyendo al bienestar de la comunidad y del medio ambiente.
            
            Desarrollo del Talento: Fomentar un ambiente de trabajo inclusivo y estimulante donde cada miembro del equipo pueda crecer, innovar y contribuir al éxito colectivo.
            
            En HamProyecto, creemos que la tecnología puede ser una fuerza para el bien, y nos dedicamos a crear un futuro donde todos puedan prosperar a través del poder del software."</p>
{% endblock %}